input {
    keyboard {
        xkb {
            layout "pl"
        }

        numlock
    }

    touchpad {
        tap
        dwt
        natural-scroll
        accel-profile "flat"
        drag true
    }

    mouse {
        accel-profile "flat"
    }

    focus-follows-mouse
}
