layout {
    gaps 6

    struts {
        left 6
        right 6
        top 6
        bottom 6
    }

    center-focused-column "never"

    default-column-width { proportion 0.5; }

    focus-ring {
        off
    }

    border {
        on
        width 2

        active-gradient from="#cba6f7" to="#89b4fa" angle=45
        inactive-color "#313244aa"
    }

    shadow {
        on
        softness 24
        spread 3
        offset x=0 y=3
        color "#1a1a2eee"
        inactive-color "#1a1a2e88"
    }

    insert-hint {
        color "#cba6f780"
    }
}

animations {
    window-open {
        duration-ms 150
        curve "cubic-bezier" 0.05 0.9 0.1 1.1
    }

    window-close {
        duration-ms 120
        curve "cubic-bezier" 0.36 0 0.66 -0.56
    }

    workspace-switch {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}

blur {
    passes 3
    offset 3.0
    noise 0.0117
    saturation 1.1
}
