spawn-at-startup "bash" "-c" "source ~/.nix-profile/etc/profile.d/hm-session-vars.sh && dbus-update-activation-environment --all"
spawn-at-startup "gpgconf" "--kill" "gpg-agent"

spawn-at-startup "noctalia"

//spawn-sh-at-startup "wl-paste --watch cliphist store"
spawn-at-startup "polkit-kde-authentication-agent-1"
spawn-sh-at-startup "pgrep -x kdeconnectd || kdeconnectd"
spawn-sh-at-startup "pgrep -x kwalletd6 || kwalletd6"

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot-%Y-%m-%d_%H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}

xwayland-satellite {
    path "xwayland-satellite"
}

environment {
    QT_QPA_PLATFORMTHEME "kde"
}
